{% extends "layout.html.twig" %}

{% block content %}
{{ form_start(form) }}
    <div class="text-center">
        <img class="w-25" src="{{ asset('image/icon/logo.png')}}" alt="rust-texture">
    </div>
    <h1> Inscription </h1>

    <h2> Bébé </h2> 
    {{ form_widget(form) }}
    <button class="btn btn-warning">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}
{% endblock %}

