{% extends "layout.html.twig" %}

{% block content %}
{{ form_start(form) }}
    <div class="text-center">
        <img class="w-25" src="{{ asset('image/icon/logo.png')}}" alt="rust-texture">
    </div>
    <div class="w-50 offset-3 col-6 offset-3 mt-1 margin-bottom">
        <h1 class="text-center mt-1"> Inscription </h1>
        <div class="section-info p-3">
            <h2> Bébé </h2> 
            {{ form_widget(form) }}
            <button class="btn btn-warning">{{ button_label|default('Valider') }}</button>

            {{ form_end(form) }}
        </div>
</div>
{% endblock %}

