{% extends 'layout.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block content %}
    <h1>Un coup de pouce pour les parents</h1>
    <p class="mb-5">L'enfantDo est fait pour vous aider dans les tâches qui concerne votre bébé. Grâce à la gestion de bébé, vous pouvez voir toutes les informations qui concerne bébé et ainsi <span class="gras">mieux vous organiser.</span> <br>
    Vous savez ainsi où en est bébé dans les repas, le changement des couches, du bain et du sommeil. <br>
    Vous pouvez aussi inscrire une autre personne qui s'occupe de bébé et ainsi mieux vous répartir les tâches!
    </p>
    <h2>Gestion de bébé</h2>
    <h6 class="mt-4">{{ "now" | date('d/m/Y à H:i', "Europe/Paris" ) }}</h6>

   
    {% if is_granted("IS_AUTHENTICATED_FULLY") and isToday %}

    <div class="event-section row d-flex justify-content-center mb-5 pt-4 pb-4">
    {# edition #}
        <div class="col-md-1">
        </div>
        {# Tableau heure #}
        <div class="col-md-1 me-3 col-2 mb-2 base">
        <h6 class="text-center mt-2">Heure</h6>
            <table class="table text-center">
            <thead>
                <tr>
                    <th>Début</th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                         <td>{{ evenement.heureDebut ? evenement.heureDebut|date('H:i') : '' }}</td>
                         
                    </tr>
                {% endfor %}
            </tbody>
                
            </table>
        </div>

    {# Tableau repas #}
        {# Tableau biberon #}
        <div class="col-md-1 me-3 col-3 mb-2 color-table">
        <h6 class="text-center mt-2">Biberon</h6>
            <table class="table text-center">
            <thead>
                <tr>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                        <td>
                        {% if evenement.repas is null %}
                            <i class="far fa-clock"></i>
                        {% else %}
                        {{evenement.repas.quantiteMl ? evenement.repas.quantiteMl : '-'}}
                        {% endif %}
                        
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
                
            </table>
        </div>
        {# Tableau diversification #}
        <div class="col-md-3 col-5 me-3 mb-2 color-table">
        <h6 class="text-center mt-2">Diversification</h6>
            <table class="table text-center">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Quantité (pot)</th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                        <td>
                        {% if evenement.repas is null %}
                            <i class="far fa-clock"></i>
                        {% elseif evenement.repas.puree %}
                            Purée
                        {% elseif evenement.repas.compote %}
                            Compote
                        {% elseif evenement.repas.Yaourt %}
                            Yaourt
                        {% else %}
                            <i class="far fa-clock"></i>
                        {% endif %}
                        </td>
                        <td>
                        {% if evenement.repas is null %}
                            <i class="far fa-clock"></i>
                        {% elseif evenement.repas.quantitepot %}
                             {{evenement.repas.quantitepot}}
                        {% else %}
                            <i class="far fa-clock"></i>
                        {% endif %}
                        </td>
                           
                    
                    </tr>
                {% endfor %}
            </tbody>   
            </table>
        </div>
        {# Tableau hygiène #}
        <div class="col-md-1 me-3 mb-2 col-3 color-table">
        <h6 class="text-center mt-2">Couche</h6>
            <table class="table text-center">
            <thead>
                <tr>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                        <td>
                        {% if evenement.hygiene is null %}
                             <i class="far fa-clock"></i>
                        {% elseif evenement.hygiene.coucheUrine %}
                            Urine
                        {% elseif evenement.hygiene.coucheSelle %}
                            Selle
                        {% else %}
                            <i class="far fa-clock"></i>
                        {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>   
            </table>
        </div>
        {# Tableau bain #}
        <div class="col-md-1 me-3 mb-2 col-3 color-table">
        <h6 class="text-center mt-2">Bain</h6>
            <table class="table text-center">
            <thead>
                <tr>
                    <th>Prise</th>
                </tr>
            </thead>
            <tbody>
               {% for evenement in evenements %}
                    <tr>
                        <td>
                        {% if evenement.hygiene is null %}
                            <i class="far fa-clock"></i>
                        {% elseif evenement.hygiene.bain %}
                            <i class="fas fa-check"></i>

                        {% else %}
                            <i class="far fa-clock"></i>
                        {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>   
            </table>
        </div>
        {# Tableau dodo #}
        <div class="col-md-2 me-3 mb-2 col-4 color-table">
        <h6 class="text-center mt-2">Sommeil</h6>
            <table class="table text-center">
            <thead>
                <tr>
                    <th>Début</th>
                    <th>Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                        <td>
                            {% if evenement.dodo %}
                                <i class="fas fa-check"></i>
                            {% else %}
                                <i class="far fa-clock"></i>
                            {% endif %}
                        </td> 
                        <td>
                            {% if evenement.heureFin %}
                                {{evenement.heureFin|date('H:i')}}
                            {% else %}
                                <i class="far fa-clock"></i>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('evenement_edit', {'id': evenement.id}) }}"><i class="fas fa-feather"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>   
            </table>
        </div>

    {# end div row #}
    </div> 
    {% else %}
    <p>Pour profiter des fonctionnalités de l'Enfant Do, veuillez-vous authentifier</p><a href="{{path('app_login')}}">Connexion</a>

{% endif %}


    

    {# information #}
    <h2>Conseils autour de bébé</h2>
    <div class="section-info row d-flex pt-4 pb-4 mb-5">
        <div class="col-md-3">
            <img class="me-2" src="{{ asset('image/dodo/photo-dodo2.jpg')}}" alt="rust-texture">
        </div>
        <div class="col-9">

        {% for conseil in conseils %}
            <h4>{{conseil.nom}}</h4>
            <p>{{conseil.description}}</p>
        {% endfor %}
        </div>
    </div>
             
           


    
                    {# <a href="{{ path('evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a> #}
           

    {# <a href="{{ path('evenement_new') }}">Create new</a> #}
{% endblock %}

