{% extends "base.html.twig" %}


{% block body %}
   
    <header>
    {# Intégration des images, il faut installer : composer require symfony/asset #}
        {# <img src="{{ asset('image/header.jpeg')}}" alt="rust-texture"> 
        #}

    {# Intégration de la nav Bootstrap : #}
       <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand logo ms-4" href="{{path('evenement_index')}}">L'Enfant Do</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{path('conseil')}}">Actualités</a>
                            </li>
                            

                        {% if is_granted("IS_AUTHENTICATED_FULLY") %} {# signifie que l'utilisateur est authentifié est connecté #}

                        <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
                        </li>

                        {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path("user_new") }}">Inscription</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                        </li>
                        {% endif %}

                        
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profil
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Gérer mon profil</a></li>
                                <li><a class="dropdown-item" href="#">Gérer le profil de bébé</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Inscrire une autre personne</a></li>
                            </ul>
                        </li>

                        {# <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Bonjour {{pseudo}}</a>
                        </li> #}
                

                        {% endif %}


                        </ul>
                    </div>
            </div>
        </nav>
    </header>
    <div class="container">
    <main>
    <div class="row">    

        {# Liens #}
        <div class="col-md-6 d-flex justify-content-center">
            <div class="col-3 icon-link biberon">
                <a href="{{path('repas_new')}}"><img class="text-center" src="{{ asset('image/icon/icon-biberon.png')}}" alt="icone-repas"></a>
                <p>Repas</p>
            </div>
            <div class="col-3 icon-link couche">
                <a href="{{path('hygiene_new')}}"><img src="{{ asset('image/icon/icon-couche.png')}}" alt="icon-hygiene"></a>
                <p>Hygiène</p>
            </div>
            <div class="col-3 icon-link dodo">
                <a href="{{path('evenement_sommeil')}}"><img src="{{ asset('image/icon/icon-dodo.png')}}" alt="icone-sommeil"></a>
                <p>Sommeil</p>
            </div>
            <div class="col-3 icon-link statistique">
                <a href="{{path('conseil')}}"><img src="{{ asset('image/icon/icon-statistique.png')}}" alt="rust-texture"></a>
                <p>Conseils</p>
            </div>
        </div>
            <div class="col-md-5 col-8 section-profil-bebe d-flex">
                {% if app.user %}
                    {{ render(controller('App\\Controller\\BebeLayoutController::infoBebe')) }}
                {% endif %}
            </div>
        
    {# end row #}
    </div> 
        {% block content %}
            {# c'est ici que viendra s'inserer le contenu propre à chaque page  #}
        {% endblock %} 
   
    </main>
</div>

    
    <footer>
        <div class="container">
        
        <div class="copyright d-flex justify-content-center">
            <p class="mt-3 mb-1">
                &copy;EnfantDo 2021 - {{"now" | date("Y") }} all right reserved 
            </p>
        </div>
        <hr>
        <div class="row d-flex">

            <div class="col-md-5 col-5">
                <p>Suivez-nous</p>
                <div class="d-flex flex-row">
                    <a href=""><p class="me-2 footer-link">Twitter</p></a>
                    <a href=""><p class="me-2 footer-link">Facebook</p></a>
                    <a href=""><p p class="footer-link">Instagram</p></a>
                </div>
            </div>
            <div class="col-md-7 col-4">
                <p>L'Enfant Do</p>
                <p>10 rue des alouettes</p>
                <p>750015 Paris</p>
        
            </div>
        
        </div>
    </div>
    </footer>

{% endblock %}